<div ng-show="item">
    <div class="col-md-1 sh-index">
        <button type="button" class="btn btn-xs btn-default">
            {{item.vol}}.{{item.index}}
        </button>
    </div>
    <div class="col-md-11 sh-item-content">
        <div class="row ">
            <div class="col-md-12 sh-item-text">
                {{item.text}}
            </div>
        </div>
        <div class="row sh-item-recipe" ng-show="item.recipe">
            <div class="row" ng-repeat="recipe in item.recipe">
                <sh-recipe recipe="recipe"></sh-recipe>
            </div>
        </div>
    </div>
</div>